body{
    background: #d2d2c1 url('imagens/projeto-de-alta-velocidade-do-movimento-olá-tecnologia-fundo-abstrato-da-ilustração-vetor-121323346.jpg') 100px; /*cor de fundo da tela*/
    border-image:center;
    border-style:solid;
    color:red;
    font: 16px Arial, Helvetica, sans-serif;
}

nav{
    border: 2px solid black;
            border-radius: 0px;
            border-top-left-radius: 0px; /*deformação da parte superior esquerdo da borda*/
            border-bottom-left-radius: 50px; /*deformação da parte inferior esquerdo da borda*/
            border-top-right-radius: 50px; /*deformação da parte superior direito da borda*/
            border-bottom-right-radius: 0px; /*deformação da parte inferior direito da borda*/
            background-color:burlywood;
            margin: 10px;
            height: 50px;
            font-size: larger;
    text-align: center;
    text-decoration: none;
    color:red;
    font-weight: bold;
    padding: 5px;
}

p{
    color: black;
}

form{
    text-align: center;
}
main{
    border: 2px solid black;
            border-radius: 0px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 50px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 0px;
            background-color:burlywood;
            margin:auto;
            height:auto;
}

table{
    color:black;
}

footer{
    text-align: center;
    color:burlywood;
}